In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        ['PE', 'Pernambuco', 'Recife'], 
        ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], 
        ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], 
        ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'Rio Branco'], 
        ['MA', 'Maranhão', 'São Luís'], 
        ['RN', 'Rio Grande do Norte', 'Natal'],
        ['PR', 'Paraná', 'Curitiba'], 
        ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)

In [3]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [4]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [5]:
df.ix[0]

C:\Users\VELEDC\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [6]:
df.iloc[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [7]:
#não exclui o valor delimitador (2)
df.ix[:2]

C:\Users\VELEDC\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [8]:
#exclui o valor delimitador (2)
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [9]:
#substituir index
df.index = pd.Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [10]:
df

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [11]:
df.index = df['Sigla']

In [12]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [13]:
df.ix['PE']

C:\Users\VELEDC\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: PE, dtype: object

In [14]:
del df['Sigla']

In [15]:
df

                      Nome         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 Paraíba     João Pessoa
SP               São Paulo       São Paulo
MG            Minas Gerais  Belo Horizonte
CE                   Ceará       Fortaleza
AC                    Acre      Rio Branco
MA                Maranhão        São Luís
RN     Rio Grande do Norte           Natal
PR                  Paraná        Curitiba
RS       Rio Grande do Sul    Porto Alegre