In [1]:
import pandas as pd

In [2]:
copacabana = pd.read_csv('copacabana_lat_lng.csv', delimiter=',')

In [3]:
copacabana.columns

Index(['Posicao', 'Quartos', 'Vagas', 'DistIpanema', 'DistPraia', 'DistFavela',
       'RendaMedia', 'RendaMovel', 'RendaMovelRua', 'Vu2009', 'Mes', 'Idade',
       'Tipologia', 'AreaConstruida', 'VAL_UNIT', 'X', 'Y', 'lat', 'lng'],
      dtype='object')

In [4]:
copacabana['Quartos'].describe()

count    1675.000000
mean        1.767510
std         1.142523
min         0.010000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: Quartos, dtype: float64

In [5]:
copacabana['Quartos'] > 5

0       False
1       False
2       False
3       False
4       False
        ...
1670    False
1671    False
1672    False
1673    False
1674    False
Name: Quartos, Length: 1675, dtype: bool

In [6]:
copacabana.loc[copacabana['Quartos'] == 6]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y,lat,lng
748,1,6.0,2.0,2500,35,743,1524600,1275377,1399989,4100,360,58.0,1,668,4491,686456.25,7458801.05,-22.968592,-43.181221

In [7]:
copacabana.loc[copacabana['Quartos'] == 5]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y,lat,lng
173,1,5.0,0.01,2696,154,712,1083455,649733,866594,2000,425,55.0,1,38,6316,686522.9800,7458989.87,-22.966880,-43.180593
1521,1,5.0,3.00,3044,31,609,1524600,1168222,1346411,4100,405,34.0,1,430,5000,686965.3201,7459109.71,-22.965748,-43.176295

In [8]:
copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

0       416005
1       460009
2       720012
3       990000
4       909976
         ...
1670    479940
1671    402040
1672    600020
1673    766705
1674    683871
Length: 1675, dtype: int64

In [9]:
copacabana['TOTAL'] = copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

In [10]:
copacabana['TOTAL'].describe()

count    1.675000e+03
mean     5.862613e+05
std      4.804788e+05
min      6.000000e+04
25%      3.000000e+05
50%      4.500320e+05
75%      7.200115e+05
max      6.199912e+06
Name: TOTAL, dtype: float64

In [11]:
copacabana['TOTAL'].tail()

1670    479940
1671    402040
1672    600020
1673    766705
1674    683871
Name: TOTAL, dtype: int64

In [12]:
copacabana['TOTAL'].head()

0    416005
1    460009
2    720012
3    990000
4    909976
Name: TOTAL, dtype: int64