In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('primary-results.csv')

In [3]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [4]:
len(df)

24611

In [5]:
#Agrupar
df.groupby('candidate')

In [6]:
#agregar min, media e max de votos por candidadtos
df.groupby('candidate').aggregate({'votes': [min, np.mean, max]})

                votes
                  min         mean     max
candidate
 No Preference      0    23.225071     580
 Uncommitted        0     0.434343      16
Ben Carson          0   338.258238    9945
Bernie Sanders      0  2844.019501  434656
Carly Fiorina       0   139.366972    3612
Chris Christie      1   223.422018    7144
Donald Trump        0  3709.576408  179130
Hillary Clinton     0  3731.855410  590502
Jeb Bush            2   609.103226    9575
John Kasich         0  1160.052705  101217
Marco Rubio         0  1299.834051  111898
Martin O'Malley     0     7.595960     152
Mike Huckabee       2    33.787879     565
Rand Paul           2    85.646465    1633
Rick Santorum       0    18.000000     234
Ted Cruz            0  2120.191299  147721

In [7]:
#filtar onde teve o maior indece de votos
df[df['votes'] == 590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

In [8]:
df.groupby('candidate').aggregate({'fraction_votes': [min, np.mean, max]})

                fraction_votes
                           min      mean       max
candidate
 No Preference           0.000  0.006484  0.030000
 Uncommitted             0.000  0.000455  0.013000
Ben Carson               0.000  0.058941  0.415000
Bernie Sanders           0.000  0.493316  1.000000
Carly Fiorina            0.000  0.022097  0.117000
Chris Christie           0.002  0.017773  0.087195
Donald Trump             0.000  0.466217  0.915000
Hillary Clinton          0.000  0.461302  1.000000
Jeb Bush                 0.004  0.044524  0.121000
John Kasich              0.000  0.122869  0.639000
Marco Rubio              0.000  0.146959  0.627000
Martin O'Malley          0.000  0.008303  0.132000
Mike Huckabee            0.003  0.024192  0.096000
Rand Paul                0.006  0.034061  0.096000
Rick Santorum            0.000  0.009960  0.073000
Ted Cruz                 0.000  0.243453  1.000000

In [9]:
#df[df['fraction_votes'] == 1 & df['candidate'] == 'Hillary Clinton']

In [10]:
df[(df['fraction_votes'] == 1) & (df['candidate'] == 'Hillary Clinton')]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
8142,Maine,ME,Amity,92300012.0,Democrat,Hillary Clinton,1,1.0
8160,Maine,ME,Atkinson,92300020.0,Democrat,Hillary Clinton,1,1.0
8168,Maine,ME,Avon,92300024.0,Democrat,Hillary Clinton,1,1.0
8186,Maine,ME,Beaver Cove,92300033.0,Democrat,Hillary Clinton,1,1.0
8188,Maine,ME,Beddington,92300034.0,Democrat,Hillary Clinton,1,1.0
8292,Maine,ME,Caswell,92300088.0,Democrat,Hillary Clinton,1,1.0
8334,Maine,ME,Crawford,92300111.0,Democrat,Hillary Clinton,1,1.0
8400,Maine,ME,Edinburg,92300144.0,Democrat,Hillary Clinton,1,1.0
8576,Maine,ME,Lakeville,92300235.0,Democrat,Hillary Clinton,1,1.0
8650,Maine,ME,Masardis,92300274.0,Democrat,Hillary Clinton,1,1.0
8700,Maine,ME,Moscow,92300301.0,Democrat,Hillary Clinton,1,1.0
8710,Maine,ME,New Canada,92300308.0,Democrat,Hillary Clinton,1,1.0
8744,Maine,ME,Northfield,92300322.0,Democrat,Hillary Clinton,1,1.0
8770,Maine,ME,Otis,92300338.0,Democrat,Hillary Clinton,1,1.0
8828,Maine,ME,Portage Lake,92300364.0,Democrat,Hillary Clinton,1,1.0
8866,Maine,ME,Roque Bluffs,92300384.0,Democrat,Hillary Clinton,1,1.0
8932,Maine,ME,Springfield,92300421.0,Democrat,Hillary Clinton,1,1.0
8974,Maine,ME,Sweden,92300438.0,Democrat,Hillary Clinton,1,1.0
9018,Maine,ME,Wade,92300464.0,Democrat,Hillary Clinton,1,1.0
9052,Maine,ME,Wellington,92300480.0,Democrat,Hillary Clinton,1,1.0
9070,Maine,ME,Westmanland,92300488.0,Democrat,Hillary Clinton,1,1.0
14088,Nebraska,NE,Hayes,31085.0,Democrat,Hillary Clinton,9,1.0
14174,Nebraska,NE,Thomas,31171.0,Democrat,Hillary Clinton,1,1.0

In [11]:
def fraction_votes_filter(x):
    return x['votes'].sum() > 300000
df.groupby('state').filter(fraction_votes_filter)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24512,Wisconsin,WI,Winnebago,55139.0,Republican,John Kasich,3952,0.115
24513,Wisconsin,WI,Winnebago,55139.0,Republican,Ted Cruz,16049,0.469
24514,Wisconsin,WI,Wood,55141.0,Republican,Donald Trump,6941,0.432
24515,Wisconsin,WI,Wood,55141.0,Republican,John Kasich,1479,0.092
24516,Wisconsin,WI,Wood,55141.0,Republican,Ted Cruz,7220,0.450

In [12]:
#total de votos do Alabama
df[df['state_abbreviation'] == 'AL']['votes'].sum()

1223959

In [13]:
def fraction_votes_filter(x):
    return x['votes'].sum() > 1000000
df.groupby('state').filter(fraction_votes_filter)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24512,Wisconsin,WI,Winnebago,55139.0,Republican,John Kasich,3952,0.115
24513,Wisconsin,WI,Winnebago,55139.0,Republican,Ted Cruz,16049,0.469
24514,Wisconsin,WI,Wood,55141.0,Republican,Donald Trump,6941,0.432
24515,Wisconsin,WI,Wood,55141.0,Republican,John Kasich,1479,0.092
24516,Wisconsin,WI,Wood,55141.0,Republican,Ted Cruz,7220,0.450

In [14]:
df.groupby(['state_abbreviation', 'candidate'])['votes'].sum()

state_abbreviation  candidate
AK                  Ben Carson         2401
                    Bernie Sanders      440
                    Donald Trump       7346
                    Hillary Clinton      99
                    John Kasich         892
                                       ...
WY                  Donald Trump         70
                    Hillary Clinton     124
                    John Kasich           0
                    Marco Rubio         189
                    Ted Cruz            644
Name: votes, Length: 290, dtype: int64