In [1]:
import pandas as pd
from db import DemoDB

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("var", var)? (__init__.py, line 69)

In [ ]:
database = DemoDB()

In [ ]:
database.tables

In [ ]:
album = database.tables.Album.all()

In [ ]:
album.head()

In [ ]:
artist = database.tables.Artist.all()

In [ ]:
artist.head()

In [ ]:
album_artist = pd.merge(artist, album)

In [ ]:
album_artist.head()

In [ ]:
album_artist = pd.merge(artist, album, on='ArtistId')

In [ ]:
album_artist.head()

In [ ]:
album.rename(columns={'ArtistId': 'Artist_Id'}, inplace=True)

In [ ]:
album.head()

In [ ]:
album_artist = pd.merge(album, artist, left_on='Artist_Id', right_on='ArtistId')

In [ ]:
album_artist.head()

In [ ]:
pd.merge(album, artist, left_on='Artist_Id', right_on='ArtistId').drop('Artist_Id', axis=1)

In [ ]:
alunos1 = pd.DataFrame(
    {
        'nome': ['Maria', 'Sofia'],
        'nota': [8, 9],
    }
)
alunos2 = pd.DataFrame(
    {
        'nome': ['Jo√£o', 'Pedro', 'Maria'],
        'cod': [1, 2, 3],
    }
)

In [ ]:
alunos_total = pd.merge(alunos1, alunos2, on='nome')

In [ ]:
alunos_total

In [ ]:
pd.merge(alunos1, alunos2, how='outer')

In [ ]:
pd.merge(alunos1, alunos2, how='inner')

In [ ]:
pd.merge(alunos1, alunos2, how='left')

In [ ]:
pd.merge(alunos1, alunos2, how='right')